.form__block_popup {
  display: block;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9;
  margin-right: 11px;
  border: 1px solid $dark-purple;
}

.form__block_popup--form {
  width: 340px;
  height: 100%;
  background: $white;
}

.form__block_popup--container {
  padding: 1rem;
  background-color: $white;
}

.form__block_popup--icon i {
  display: block;
  position: absolute;
  top: -13px;
  right: -13px;
  background: white;
  font-size: 1.5rem;
  border-radius: 50%;
}

.form__block_question {
  h3 {
    font: 1.5rem $font;
    color: $dark-purple;
  }
  p {
    font: 0.8rem $font;
    color: $dark-grey;
    font-style: italic;
    margin-top: 8px;
  }
}

.form__block_answears {
  input {
    width: 100%
  }
  p {
    margin-top: 8px;
  }
}

.form__block_button {
  margin: 16px;
}

.form__block_button .btn {
  background-color: $white;
  color: $dark-purple;
  border: 1px solid $white;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form__block_button .btn.activate {
  background-color: $white;
  border-color: $dark-purple;
  color: $dark-purple;

  &:hover,
  &:focus {
    background-color: $dark-purple;
    color: $white;
  }
}

.form__block_button .btn.cancel {
  background-color: $light-grey;
}

.form__block_button .btn:hover{
  opacity: 1;
}

.form__block_button--shake {
  position: relative;
  animation-name: shake;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  cursor: pointer;
}

// shake animation on button
@keyframes shake {
  0% {left: 0}
  1% {left: -3px}
  2% {left: 5px}
  3% {left: -8px}
  4% {left: 8px}
  5% {left: -5px}
  6% {left: 3px}
  7% {left: 0}
}


// hidden button
.form__block_close {
  display: none;
  bottom: 0;
  position: fixed;
  right: 15px;
  z-index: 9;
  margin-right: 2rem;
  width: 306px;

  .form__block_close--img {
    display: flex;
    justify-content: flex-end;

    img {
      width: 50%;
      height: 50%;
    }

    i {
      display: block;
      position: absolute;
      top: -13px;
      right: -13px;
      background: white;
      font-size: 1.5rem;
      border-radius: 50%;
    }

    .form__block_close--container {
      width: 306px;
      height: 1rem;
      background-color: $light-grey;
    }
  }
}
